.sidebar {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    text-align: right;
    font-weight: 200;
    width: 255px;
    height: 100%;
    border-right: 1px black solid;
  }
  
  .sidebar > div {
    width: 100%;
    margin-bottom: 1px;
    height: 35px;
    flex: 1 0 auto;
    position: relative;
    text-align: center;
  }

  .sidebar > img {
    width: 80%;
    height: 20%;
    flex: 1 0 auto;
    display: flex;
  }